*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        font-family: Verdana, sans-serif;
        background: #f3f7fa;
        color: #333;
        line-height: 1.7;
        padding: 20px;
      }    

    header {
        text-align: center;
        background: #4a7c59;
        color: white;
        padding: 35px;
        margin-bottom: 30px;
      }

    header h1 {
        font-family: Georgia, serif;
    }

    nav {
        text-align: center;
        margin-bottom: 25px;
    }

    nav a {
        font-family: Verdana, sans-serif;
        color: #4a7c59;
        text-decoration: none;
        margin: 0 15px;
        font-weight: bold;
    }
    
    nav a:hover {
        color: #2f513b;
        text-decoration: underline;
      }

    main {
        width: 90%;
        max-width: 900px;
        margin: auto;
        text-align: center;
      }  

    section {
        background: white;
        padding: 20px;
        margin-bottom: 25px;
         border-left: 5px solid #4a7c59;
        border-radius: 5px;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
      }  

    h2 {
        font-family: Georgia, serif;
        margin-bottom: 12px;
      }
    
    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        padding: 8px 0;
        font-size: 16px;
    }

    footer {
        text-align: center;
        margin-top: 25px;
        background: #e0e6e2;
        padding: 15px;
        font-size: 14px;
        color: #555;
    }
